<style>
  .bg {
    display: flex;
    width: 100%;
    height: auto;
    background: url("https://www.latercera.com/resizer/Am6Tr2ws8JnL4CHLfU_Humpr56Q=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/XMJRWZH5N5CBXPL67NAKBGXFNI.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-image-width: 10%;
    background-color: yellow;

    
    }

    span{
        padding-left: 5%;
    }

    .opciones{
        background-color: aquamarine;
        align-items: flex-end;
        justify-items: center;
        align-self:center;

    }

</style>

<mat-toolbar color="none" class="bg" >
  <mat-toolbar-row>
    <h1>Heroes DBZ</h1>
    
    <div class="opciones">
      <span>¿Como Funciona?</span>

      <span>Heroes Anteriores</span>

      <span>Iniciar Sesion</span>

      <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
    </div>
    
  </mat-toolbar-row>
  

  
</mat-toolbar>
