<app-banner></app-banner>
<div class="container space" role="main">
  <div class="parrafo">
    <div class="row align-items-center">
      <div class="col-lg-3 col-12 titulo-parrafo">
        <!-- <h4>Lorem ipsum. Dolor</h4> -->
        <p class="big">Lorem ipsum. Dolor</p>
        <h2><strong>IP lorem ip.</strong></h2>
      </div>
      <div class="col-lg-9 col-12 align-items-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed fringilla nisi. Suspendisse
          vel nulla non ipsum volutpat fermentum et a velit. Nullam nunc massa, ultricies sed purus viverra,
          congue tristique diam.
        </p>
      </div>
    </div>
  </div>
  <!-- <h2>Super Heroes anteriores</h2> -->
  <p class="title">Super Heroes anteriores</p>
  <br>
  <app-container></app-container>
</div>